/*
==========================================================================
    Body - The stuff in between the header and footer!
==========================================================================
*/

#mainbox {
    background: #fff;
    width: 75%;
    float: right;
    padding: 1em 1em 2em 1em;
    position: relative; // N2 Hack
    z-index: 10000000; // N2 Hack
}
#cobrandBanner {
    float: right;
    width: 75%;
    text-align: center;
    background: #fff;
}

/* ----------- Sidebar */
#secondnav {
    width: 25%;
    float: left;
    background: #999;
    #categoryNavHeaderLink {
        padding: 0.75em 1em;
        display: block;
        &:hover {
        }
    }
    li {
        list-style: none;
        a {
            color: #555;
            display: block;
            padding: 0.4em 1em;
            position: relative;
            transition: all 200ms ease;
            border-bottom: 1px solid #eee;
            text-decoration: none;
            &:hover {
                background: #fafafa;
            }
        }
    }
    #quickorder {
        padding: 1em;
        h3 {
            margin-bottom: 0.5em;
            margin-top: 0;
        }
        input[type="text"] {
            width: calc(100% - 43px);
            margin-bottom: 0.25em;
            padding: 0.4em 0.25em;
        }
    }
}

@media (max-width:767px) {
    #secondnav {
        display: none;
    }
    #mainbox {
        width: 100%;
    }
}