/*
==========================================================================
    Body - The stuff in between the header and footer!
==========================================================================
*/
#innerContainer {
    @extend .page-wrap;
    display: flex;
    flex-wrap: wrap;
}

#cobrandBanner {
    width: 75%;
    text-align: center;
    background: #fff;
    order: 1;
}
#mainbox {
    background: #fff;
    width: 75%;
    position: relative; // N2 Hack
    z-index: 10000000; // N2 Hack
    order: 1;
}

/* ----------- Sidebar */
#secondnav {
    width: 25%;
    background: #999;
    order: 2;
    #categoryNavHeaderLink {
        padding: 0.75em 1em;
        display: block;
        &:hover {
        }
    }
    li {
        list-style: none;
        a {
            color: #555;
            display: block;
            padding: 0.4em 1em;
            position: relative;
            transition: all 200ms ease;
            border-bottom: 1px solid #eee;
            text-decoration: none;
            &:hover {
                background: #fafafa;
            }
        }
    }
    #quickorder {
        padding: 1em 1em 0 1em;
        h3 {
            margin-bottom: 0.5em;
            margin-top: 0;
        }
        input[type="text"] {
            width: calc(100% - 43px);
            margin-bottom: 0.25em;
            padding: 0.4em 0.25em;
        }
    }
}

@media (max-width:767px) {
    #secondnav,
    #mainbox {
        width: 100%;
    }
}