/*
==========================================================================
    Header
==========================================================================
*/
#intro {
    @extend .page-wrap;
    display: flex;
    a {
        text-decoration: none;
    }
}

/* ----------- Logo Area ----------- */
#pageHeader {
    h2 { 
        margin: 0;
        padding: 0;
        // Don't display none the H2 for accessability reasons
    }
    a {
        display: block;
        width: 100%;
        background: url('img/logo.png');
        height: 70px;
        width: 208px;
        text-indent: -99999px; // this will hide the h2 but still enable screen readers to know the link text
        overflow: hidden;
    }
}
@media (max-width: 960px) {
    #pageHeader a {
        margin: 1em auto;
    }
}
/* ----------- Login / Cart Links ----------- */
#tinycartstatus {
    padding: 0.55em;
}
#login,
#tinycart,
#tinycartstatus {
    display: inline-block;
}
#link-cart:before,
#link-checkout:before,
#link-login:before,
#link-support:before,
#link-newaccount:before {
    font-family: fontAwesome;
    padding-right: 5px;
}
#link-cart:before {
    content: "\f07a";
}
#link-checkout:before {
    content: "\f283";
}
#link-login:before {
    content: "\f023";
}
#link-support:before {
    content: "\f007";
}
#link-newaccount:before {
    content: "\f234";
}


/* ----------- Search - CTA Area */
#search {
    position: relative;
    @extend .clearfix;
    #searchkeyword {
        z-index: 1 !important;
        width: 70%;
        float: left;
    }
    #searchsubmit {
        float: left;
        width: 30%;
        margin-top: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        &:hover,
        &:active,
        &:focus {

        }
    }
}


/* ----------- Main Navigation */
#navigation {
    a {
        padding: 1em 0.75em 0.7em;
        display: block;
        position: relative;
        &:hover {

        }
    }
    > ul > li {
        display: inline-block;
        position: relative;
    }
    > ul ul {
        position: absolute;
        left: 0;
        top: 100%;
        min-width: 200px;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.15);
        z-index: 1;
    }
    > ul ul a {
        padding: 5px 1em;
    }
}


/* -------- Mobile Navigation --------- */
.menu-toggle {
    display: none;
}

@media (max-width: 960px) {
    .menu-toggle {
        display: block;
        position: absolute;
        top: 1em;
        left: 1em;
        font-size: 1.5em;
        padding: 0.25em .5em;
        margin-bottom: 0;
        line-height: 1;
        transform: translate3d(0,0,0) rotate(0deg);
    }
    .show-menu .menu-toggle {
        z-index: 9999999999;
        transform: translate3d(268px,-6px,0) rotate(360deg);
    }
    .show-menu .menu-toggle i:before {
        content: "\f00d";
    }

    /* -------- off canvas menu */
    #navigation > ul {
        position: fixed;
        z-index: 999999999;
        top: 0;
        left: -300px;
        height: 100%;
        width: 100%;
        min-width: 200px;
        max-width: 300px;
        background: #fff;
        padding: 1em;
        font-size: 1.15em;
        box-shadow: 1px 6px 8px rgba(0, 0, 0, 0);
        transform: translate3d(0, 0, 0);
        transition: all 250ms ease;
        text-align: left;
    }
    .show-menu #navigation > ul {
        transform: translate3d(300px, 0, 0);
        box-shadow: 1px 6px 8px rgba(0, 0, 0, 0.24);
    }
    #navigation {
        a {
            color: #222;
            padding: 0.75em;
            text-decoration: none;
            border-bottom: 1px solid #eee;
            display: block;
            width: 100%;
            &:hover {
                background: #eee;
            }
        }
        > ul > li,
        div {
            display: block;
        }
    }
}