span#newssearch {
    border-color: #eee !important;
}
span#newssearch input,
span#newssearch select {
    font-size: .75em;
    margin: .5em 0;
}

span#newssearch h3 {
    margin: 0;
    font-size: .75em;
}