/*
==========================================================================
    Member Login Page
==========================================================================
*/

.page-login h1.page {
    margin-top: 0;
}

form.login {
    @extend .card;
    padding: 1em;
    input {
        display: block;
        width: 100%;
        margin-bottom: 0;
    }
    p {
        margin-top: 0;
        a {
            font-size: 0.75em;
            font-style: italic;
            opacity: 0.8;
            text-decoration: none;
        }
    }
}
table.form {
    padding: 1em;
    @extend .card;
    margin-bottom: 1em;
}
.tips {
    background: #eee;
    padding: 0.1em 1em 1em 1em;
    margin-bottom: 1em;
    font-size: 0.75em;
    dt {
        border-bottom: 1px solid #ccc;
        margin-bottom: 0.5em;
        font-weight: 600;
    }
    dd {
        margin-bottom: 1em;
    }
}

.sidebar {
    width: 50%;
    float: right;
    padding: 0 0 1em 1em;
}

.mainbar {
    width: 50%;
    float: left;
    ul {
        list-style: inherit;
        margin-left: 2em;
        margin-top: 0.5em;
        line-height: 1.7;
    }
}

@media (max-width: 767px) {
    .sidebar {
        width: 100%;
        float: none;
        padding: 0;
    }
    .mainbar {
        width: 100%;
        float: none;
    }
}

.loginpage {
    @extend .clearfix;
}


