/*
==========================================================================
    SASS Variables to be used throughout.
==========================================================================
*/
 
$font-stack: sans-serif;
$primary-color: #002A5C;
$accent-color: #FF6600;