/* 
==========================================================================
	Plugins
==========================================================================
*/

@import "vendor/font-awesome";
@import "vendor/flickity";

/* 
==========================================================================
   The "Skin"
==========================================================================
*/

// a responsive foundation
@import "partials/base";

// The Colors and Fonts used throughout our project
@import "partials/variables";

// Typography - header sizes, line heights, etc.
@import "partials/typography";

// Form styles - inputs, textareas, select, etc.
@import "partials/forms";

// Button styles - submit inputs, links, and button buttons
@import "partials/buttons";

// The Header and everything inside of it including navigation
@import "partials/header";

// The Body's generic elements. for page specific elements go to page-name.scss files
@import "partials/body";

// The Footer and everything inside of it
@import "partials/footer";



/* 
==========================================================================
   Custom Pages - except for home...
==========================================================================
*/

// Product and Category Listing Pages
@import "partials/page-listing";

// Product Pages
@import "partials/page-product";

// Login Page
@import "partials/page-login";

// Account Pages
@import "partials/page-account";

// Shopping Cart and Checkout Pages
@import "partials/page-cart";

// Downloads page
@import "partials/page-downloads";

// Line Card Page
@import "partials/page-line";

// News Page
@import "partials/page-news";

/* 
==========================================================================
   Hide all the things that shouldn't of been there in the first place...
========================================================================== */
form#searchMainBox,
body > br,
#myCartForm > br,
#bottomClear,
#extra,
#productFlag br,
#productFlag .clear,
.mostpopular br,
#mainbox > br,
a.fade,
span.navigation #navigation,
.n2NewsContainer,
a#seoForm {
    display: none !important;
}

// Hacks to get around jQuery UI z-index issues
#container {
    position: relative;
    z-index: 39999;
}
body > div:last-child {
    z-index: 40000 !important;
}
.ui-helper-hidden-accessible {
    bottom: 0;
}