/*
==========================================================================
    Body - The stuff in between the header and footer!
==========================================================================
*/
#innerContainer {
    @extend .page-wrap;
    margin: 2em auto;
}

#cobrandBanner {
    width: 75%;
    float: right;
    text-align: center;
    order: 1;
    img {
        margin-bottom: 1em;
    }
}
#mainbox {
    width: 75%;
    float: right;
    position: relative; // N2 Hack
    z-index: 10000000; // N2 Hack
    order: 1;
    padding-left: 2em;
}

/* ----------- Sidebar */
#secondnav {
    width: 25%;
    float: left;
    order: 2;
    @extend .card;
    h3 {
        margin: 0;
    }
    #categoryNavHeaderLink {
        padding: 0.75rem 1rem;
        display: block;
        margin: 0;
        text-decoration: none;
        &:hover {
            background: #eee;
        }
    }
    li {
        list-style: none;
        a {
            color: #555;
            display: block;
            padding: 0.4em 1em;
            position: relative;
            transition: all 200ms ease;
            border-bottom: 1px solid #eee;
            text-decoration: none;
            &:hover {
                background: #eee;
            }
        }
    }
    .menu-item-depth-1 > a.has-children {
        &:after {
            content: "\f078";
            font-family: 'n2-ecommerce';
            float: right;
            transform: rotate(0deg);
            transition: all 300ms ease;
        }
    }
    .active.menu-item-depth-1 > a.has-children {
        &:after {
            transform: rotate(-180deg);
        }
    }
    .menu-item-depth-2 {
        display: none;
        a {
            background-color: #f5f5f5 !important;
        }
    }
    .active .menu-item-depth-2 {
        display: block;
    }
    #quickorder {
        padding: 1em 1em 0 1em;
        h3 {
            margin-bottom: 0.5em;
            margin-top: 0;
        }
        input[type="text"] {
            width: calc(100% - 43px);
            margin-bottom: 0.25em;
            padding: 0.4em 0.25em;
        }
    }
}

@media (max-width:767px) {
    #innerContainer {
        display: flex;
        flex-wrap: wrap;
    }
    #secondnav,
    #mainbox,
    #cobrandBanner {
        float: none;
        width: 100%;
        padding-left: 0;
    }
    #secondnav {
        order: 4;
    }
    #mainbox {
        margin-bottom: 3em;
    }
}