/*
==========================================================================
    Button Styles
==========================================================================
*/
input[type="submit"],
button,
.button {
    background: $accent-color;
    border: 0 none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font: bold 100%/1.4 $font-stack;
    float: none;
    margin-bottom: 1em;
    padding: .65em 1em;
    width: auto;
    height: auto;
    -webkit-appearance: none;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

input[type="submit"]:hover,
button:hover,
.button:hover,
input[type="submit"]:focus,
button:focus,
.button:focus {
    background: lighten( $accent-color, 10% );
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}
