/*
==========================================================================
    Account Pages
==========================================================================
*/
.page-new_account_form h1.page {
    margin-top: 0;
}

.subnav {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    float: none;
    @extend .card;
    margin-bottom: 1em;
    margin-top: 1em;
    padding: 1em;
    height: auto !important;
    a {
        color: #0e4837;
        font-size: 0.9em;
        padding: .25em 0;
    }
    .title {
        display: block;
        width: 100%;
        font-size: 1.2em;
    }
}

.subnav ~ div {
    height: auto !important;
}

.page-account_home #mainbox > table {
    margin-top: 1em;
    margin-bottom: 1em;
    @extend .card;
    padding: 1em;
}

.page-account_home #mainbox > span:first-of-type {
    clear: both;
    display: block;
}

.page-savedProducts select#bID {
    margin-bottom: 2em;
}
