/*
==========================================================================
    Product Listing / Category Listing Pages
==========================================================================
*/

#breadcrumbs {
    font-size: 0.666em;
    opacity: 0.8;
    margin-top: 0;
    margin-bottom: 0px !important;
    margin-right: 0 !important;
    padding: 0 !important;
}

.navigation {
    font-size: 0.875em;
    opacity: 0.8;
    margin: 0em 1em;
    br {
        display: none;
    }
}

.recordcount {
    font-size: 0.875em;
    opacity: 0.5;
}

.itemsperpage {
    font-size: 0.875em;
    opacity: 0.5;
    margin: auto;
    text-align: center;
}

.mostpopular {
    padding: 0.5em 0;
    text-align: center;
    display: flex;
    justify-content: space-between;
    a {
        border: 5px solid #fff;
    }
}
#productFlagTitle {
    margin-top: 2em;
    font-weight: bold;
}
#productFlag {
    @extend .card;
}
#category h3,
#product h3 {
    height: auto !important;
    font-size: 1.25em;
    margin: 0 0 0.5em 0;
    word-break: break-word;
    order: 1;
}
#product h3 {
    padding-left: 1.7em;
    text-align: left;
    padding-right: 0.5em;
}
#category li > a,
#product li > a {
    min-height: 5em;
    display: block;
    width: 100%;
}
#category a,
#product a {
    text-decoration: none;
}

.productlist_product {
    display: block;
    margin: auto;
}
.productlist_logo {
    position: absolute;
    top: 0.5em;
    left: 0.5em;
    background: #fff;
    max-width: 1.5em;
}
.productlist_desc {
    text-align: left;
    display: block;
    font-size: 0.875em;
    margin-bottom: 0.5em;
}
div#checkoutRush {
    width: 100% !important;
    max-width: 500px;
}
/* Grids */
#category > ul,
body:not(.page-search_quick):not(.page-favorites) #product > ul,
.page-search_quick #product,
.page-favorites #product {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
    width: 100%;
    &:after {
        content: "";
        flex: auto;
        width: 23.5%;
        flex-grow: 0;
    }
}

#category > ul > li {
    justify-content: center;
    h3 {
        margin-bottom: 0;
    }
}

#category > ul > li,
body:not(.page-search_quick):not(.page-favorites) #product > ul > li,
.page-search_quick #product > ul,
.page-favorites #product > ul {
    text-align: center;
    position: relative;
    padding: 0.5em;
    margin-bottom: 1em;
    width: 23.5%;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    @extend .card;
}

@media (max-width: 1024px) {
    #category > ul > li,
    body:not(.page-search_quick):not(.page-favorites) #product > ul > li,
    .page-search_quick #product > ul,
    .page-favorites #product > ul {
        width: 31.33%;
    }
}

@media (max-width: 767px) and (min-width: 401px) {
    #category > ul > li,
    body:not(.page-search_quick):not(.page-favorites) #product > ul > li,
    .page-search_quick #product > ul,
    .page-favorites #product > ul {
        width: 48.5%;
    }
}

@media (max-width: 400px) {
    #category > ul > li,
    body:not(.page-search_quick):not(.page-favorites) #product > ul > li,
    .page-search_quick #product > ul,
    .page-favorites #product > ul {
        width: 100%;
    }
}

body:not(.page-search_quick):not(.page-favorites) #product>ul>li:hover,
body:not(.page-search_quick):not(.page-favorites) #product>ul>li:focus,
#category>ul>li:focus,
#category>ul>li:hover,
.page-search_quick #product > ul:hover,
.page-search_quick #product > ul:focus,
.page-favorites #product > ul:hover,
.page-favorites #product > ul:focus {

}


/* Style the Hover Box... a pity we need this to use these crazy selectors... */
body>div:last-child>div:nth-child(3) {
    width: auto !important;
    background: #fff !important;
    border-color: #fff !important;
    padding: 0.5em 1em !important;
    box-shadow: 4px 10px 10px rgba(0, 0, 0, 0.15);
}
.boxoverzoom {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    padding: 0em;
    background: white;
    img {
        border: 0 none !important;
        display: block;
        margin: auto;
    }
}

/* Search Pages */
#waitBox {
    position: fixed;
    z-index: 9999999999999999;
    top: 0;
    left: 0;
    background: $primary-color;
    color: #fff;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 200ms ease;
    transform: translate(0px, 0%);
    text-align: center;
    padding: 2em;
    opacity: 0.95;
}
#waitBox.hide {
    display: flex;
    transform: translate(0px, -100%);
}
#waitAnim:before {
    content: "\f110";
    font-family: fontAwesome;
    display: block;
    font-size: 3em;
}
#waitAnim {
    margin-right: 1em;
    animation-name: rotate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    background-image: none !important;
    @keyframes rotate {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }
}

.page-search_quick h1 {
    clear: both;
}


/* Advanced Search */
.advanced-search-wrapper {
    display: flex;
}

.search-filters {
    flex: 1;
    font-size: .9em;
}

.search-results {
    flex: 3;
}

.search-filters {
    max-width: 220px;
}

.search-filters fieldset {
    margin-bottom: 1em;
}

.search-filters label {
    display: block;
    margin-right: 1rem;
    margin-left: 1.5rem;
    text-indent: -1.6rem;
}


/* Button: use before pseudo selector so I have control to change it in the skin*/

.search-filters button:before {
    content: "\f078";
    display: inline-block;
    margin-right: .5rem;
    font-family: "FontAwesome";
    transition: all 300ms ease;
    transform: rotate(0deg);
}

.search-filters .collapsed button:before {
    transform: rotate(-180deg);
}


/* closing/expanding the fieldset */
.search-filters .collapsible {
    display: block;
}

.search-filters .collapsed .collapsible {
    display: none;
}