
/* ----------- Product Pages */

.page-product .productBlock p {
    font-size: 0.9em;
    line-height: 1.5;
}

h1.productName {
    font-size: 18px !important;
    line-height: 1.2 !important;
}

#product img {
    display: block;
    margin: auto;
}

#prodImage {
    display: block;
    margin: auto;
}

#msg-confirm,
#msg-error {
    display: block;
    margin: 1em 0;
    position: relative;
    border-left: 1px solid;
    border-radius: 4px;
    padding: 1em;
}
#msg-confirm {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
#msg-error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

#msg-confirm:before,
#msg-error:before {
    display: inline-block;
    font-family: 'FontAwesome';
}
#msg-confirm:before {
    content: "\f046";
}
#msg-error:before {
    content: "\f071";
}

#thumbBox {
    font-size: 0.8em;
    font-style: italic;
    margin-top: 0.5em;
    margin-bottom: 1em;
}

#thumbBox a {
    display: inline-block;
    margin-top: 0.5em;
    margin-right: 0.5em;
}

.tools {
    text-align: center;
}

.tools > br {
    display: none;
}

.tools a.iconlink {
    font-size: 10px;
    line-height: 1;
    vertical-align: inherit;
    margin-right: 1em;
}

.iconlink img {
    top: 0 !important;
}

@media (max-width: 767px) {
    div.tools {
        width: 100% !important;
        float: none !important;
        margin: 0 !important;
    }
}

div#product li {
    height: auto !important;
}

.prodDisplayBlock-wrapper {
    overflow: auto;
    overflow-y: hidden;
}

.productBlock {
    width: auto !important;
    margin-top: 0.5em!important;
}

.colorBGheader {
    background: $primary-color;
    color: #fff;
}

table#prodDisplayBlock {
    margin: 1em 0;
    @extend .card;
}

#prodDisplayBlock input[type="text"] {
    background: white;
    border-color: #999;
}

form#shopAddForm {
    z-index: 1;
}

.pRecentlyViewed:after {
    content: "";
    display: table;
    clear: both;
}
.pRecentlyViewed div {
    height: auto !important;
    font-size: .75rem
}